# ECR
ECR_REGISTRY=YOUR_ACCOUNT_ID.dkr.ecr.us-east-1.amazonaws.com
IMAGE_TAG=latest

# App profiles
ORDER_API_PROFILE=dev,rabbit
INVENTORY_SERVICE_PROFILE=dev
NOTIFICATION_SERVICE_PROFILE=dev
INVOICE_WORKER_PROFILE=rabbit
AWS_REGION=us-east-1
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=app
RABBITMQ_PASSWORD=app
RABBITMQ_UI_PORT=15672
KAFKA_EXTERNAL_HOST=YOUR_EC2_PUBLIC_HOST
KAFKA_EXTERNAL_PORT=9092
ORDER_API_PORT=8080
INVENTORY_SERVICE_PORT=8081
NOTIFICATION_SERVICE_PORT=8082
INVOICE_WORKER_PORT=8083
RDS_ENDPOINT=YOUR_RDS_ENDPOINT

# Order DB
ORDER_API_DB_URL=jdbc:postgresql://YOUR_RDS_ENDPOINT:5432/order_db
ORDER_API_DB_USERNAME=app
ORDER_API_DB_PASSWORD=change-me

# Inventory DB
INVENTORY_DB_URL=jdbc:postgresql://YOUR_RDS_ENDPOINT:5432/inventory_db
INVENTORY_DB_USERNAME=app
INVENTORY_DB_PASSWORD=change-me
